
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


body{
    margin: 0;

    overflow: hidden;
}
.base{
    margin: 0;
    background-image: url("/assets/v-2/land/a.png");
    height: 100vh;
    width: 100dvw;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.ch{

    position: absolute;
    background-image: url("assets/v-2/charcter/walking/1.gif");
    height: 84px;
    width: 58px;
    background-size: contain;
    z-index: 1;


}
.ch::after{
    content: "";
    background-color: #4d47476b;
    background-image: none;
    height: 10px;
    width: 10px;
    padding: 1px;
    left: 22px;
    bottom: -1px;
    border-radius: 100px;
    transform: scale(4);
    z-index: -2;
    position: absolute;
}
.ch.message{
    font-family: "Pixelify Sans", sans-serif;    color: black;
    font-size: x-large;
    display: none;
    place-content: center;
    padding: 2px;
    text-align: center;
    background-image: none;
    position: absolute;;
    background-color: rgb(255, 255, 255);
    top: -40px;
    border:3px solid black;
    border-radius: 20px 20px 20px 2px;
    left: 50px;
    height: 50px;
    width: 100px;
} 
.ha{
    
    height: 180px;
    width: 180px;
    z-index: 0;
    position: absolute;
    left: 10px;
    background-image: url("assets/v-2/buildings/h3.png");
    background-position: center;
    background-size: cover;
    
}
.hb{
    top:0px;
    height: 180px;
    width: 180px;
    z-index: -1;
    position: absolute;
    left: 300px;
    background-image: url("assets/v-2/buildings/h4.png");
    background-position: center;
    background-size: cover;



}
.hc{
    
    top:-10px;
    height: 180px;
    width: 180px;
    z-index: 2;
    position: absolute;
    left: 1200px;
    background-image: url("assets/v-2/buildings/h5.png");
    background-position: center;
    background-size: cover;



}

@keyframes start {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.1);


    }
    100%{
        transform: scale(1);
    }
    
}
.text_bar{
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    width: 850px;
    left: 20%;
    transition: all 1s;
    position: absolute;
    bottom: 2%;
    text-align: start;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    
    animation: start 1 1s ease-in-out;
    font-family: "Pixelify Sans", sans-serif;    color: black;
    box-shadow: 0px 0px 20px #000000;
    background-color: #ffffeb;
    border: 5px solid black;
    border-radius: 20px;
}
button{
    font-size: 30px;
   
    font-weight: bold;
    font-family: "Pixelify Sans", sans-serif;    color: black;

    position: absolute;
    height: 50px;
    background-color: #ffe478;
    border-radius: 20px;
    width: 100px;
    right: 20px;
    bottom: 20px;
}

.tree{
    position: absolute;
    height: 200px;
    width: 150px;
    top:420px;
    left: 400px;
    background-image: url("assets//v-2/buildings/t.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}
.tree::after{

    content: "";
    background-image: none;

}
.tree.b{
    top: 150px;
}
.light{
    background-image: url("assets/v-2/buildings/light.png");
    height: 100px;
    transform: scale(1.5);
    width: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 200px;
    left: 1100px;



}

.bridge{

    height: 200px;
    width: 500px;
    position: absolute;
    top: 150px;
    left: 570px;
}
.bridge.b{
    top: 420px;
    width: 510px;
    height: 200px;
    left: 550px;
}
